/*Обнуление*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Raleway:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

/*--------------------*/
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1610px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #363636;
}

.header {
    padding-top: 27px;

    &__logo {
        margin-right: 103px;
    }

    &__head {
        display: flex;
        align-items: center;

        &-schedule {
            display: flex;
            flex-direction: column;
            margin-right: 97px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
        }
    }

    &__order {
        display: flex;
        align-items: center;
        margin-right: 83px;
        padding-top: 15px;

        &-link {
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 15px;
            background: url(../assets/cube.png);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 0px #319f1b, inset 0px 0px 0px 0px #319f1c, 0px 0px 0px 7px #e4e4e4;
            transition: all 0.3s ease-in-out;
        }

        &-link:hover {
            box-shadow: 0px 0px 6px 1px #319f1b, inset 0px 0px 0px 3px #319f1c, 0px 0px 0px 7px #e4e4e4;
        }

        &-text {
            display: inline-block;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            padding-bottom: 7px;
            border-bottom: 1px solid #000000;
        }
    }

    &__socials {
        padding-top: 12px;
        display: flex;
        margin-right: 10px;


        &-link {
            margin-right: 15px;
            display: inline-block;
            width: 50px;
            height: 50px;
            background: url(../assets/phone.png);
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            border-radius: 50%;
            box-shadow: 0px 0px 0px 0px #319f1b, inset 0px 0px 0px 0px #319f1c, 0px 0px 0px 7px #e4e4e4;
            transition: all 0.3s ease-in-out;
        }

        &-link:hover {
            box-shadow: 0px 0px 6px 1px #319f1b, inset 0px 0px 0px 3px #319f1c, 0px 0px 0px 7px #e4e4e4;
        }

        &-number {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 22px;
            line-height: 27px;
            color: #363130;
        }

        &-messagers {
            margin-top: 6px;
            display: flex;
            justify-content: center;
            column-gap: 25px;
        }

    }

    &__messager-link {
        display: block;

        overflow: hidden;
        background-repeat: no-repeat;
        background-position: center;

        &--whatsap {
            width: 25px;
            height: 25px;
            background-image: url(../assets/whatsap.svg);
        }

        &--telegram {
            background-image: url(../assets/telegram.svg);
            width: 27px;
            height: 23px;
        }

        &--viber {
            background-image: url(../assets/viber.svg);
            width: 24px;
            height: 27px;
        }

    }

    &__button {
        padding: 23px 56px;
        background: #319F1C;
        box-shadow: 0px 4px 5px #319F1C;
        border-radius: 6px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;
    }

    &__button:hover {
        transform: scale(1.05);
    }

}

// ---------------------main-----------------------------------------

// --------------------adantages------------------------
.advantages {
    &__title {
        margin: 0 auto;
        text-align: center;
        max-width: 695px;
        margin-bottom: 71px;
    }


    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__advantage {
        &--like {
            position: relative;
        }

        .like {
            position: absolute;
            top: 0;
            right: 0;
        }

        &-image {
            width: 100%;
            text-align: center;
            margin-bottom: 11px;
        }

        &-title {

            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            line-height: 24px;
            color: #363130;
            position: relative;
            padding-bottom: 9px;
            margin-bottom: 14px;
        }

        &-title::after {
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
            width: 106px;
            height: 2px;
            background: #319F1C;

        }

        &-text {

            max-width: 329px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #363130;
        }

    }
}

// ---------------------------founders----------------------------------------------
.founders {
    padding-top: 101px;
    padding-bottom: 137px;

    &__inner {
        position: relative;
        display: flex;
        justify-content: center;



    }

    &__content {
        position: relative;
        max-width: 641px;
        margin-left: 162px;

        .quotes {
            position: absolute;
            content: "";

            &-left {
                top: 150px;
                left: -83px;
            }

            &-right {
                bottom: -28px;
                right: -70px;
            }
        }

        &-subtitle {
            display: block;
            margin-bottom: 9px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */


            color: #000000;
        }

        &-title {
            margin-bottom: 46px
        }

        &-text {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;

            & p:not(:last-child) {
                margin-bottom: 25px;
            }
        }

    }
}

// ------------------------find-------------------------------------------------
.find {
    padding-top: 80px;
    padding-bottom: 100px;

    &-inner {
        display: flex;
        justify-content: space-between;
    }

    &-form {
        max-width: 670px;

        &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 52px;
            color: #363130;
            margin-bottom: 20px;
        }


        &__subtitle {
            display: block;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            margin-bottom: 47px;
        }

        &__field {
            max-width: 507px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #8A8A8A;
            margin-bottom: 20px;

            &-input {
                width: 100%;
                padding-left: 30px;
                padding-bottom: 13px;
                padding-top: 13px;
                border: 1px solid #319F1C;
                box-sizing: border-box;
                border-radius: 6px;
            }

            &-textarea {
                width: 100%;
                padding-left: 30px;
                padding-bottom: 13px;
                padding-top: 13px;
                border: 1px solid #319F1C;
                box-sizing: border-box;
                border-radius: 6px;
                height: 98px;
                resize: none;
            }
        }

        &__text {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
        &__upload{
        }
        &__button {
            display: block;
            background: #319F1C;
            box-shadow: 0px 4px 4px #319F1C;
            border-radius: 6px;
            padding: 13px 77px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
            transition: all 0.3s ease-in-out;
        }
        &__button:hover{
            transform: scale(1.1);
        }
    }
}

// ------------------------footer-----------------------------------------------
.footer {
    background: #363130;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 63px;

    &__call-order {
        padding: 23px 54px;
        border: 2px solid #FFFFFF;
        color: inherit;
        text-align: center;
        max-width: 238px;
        border-radius: 6px;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;
    }

    &__call-order:hover {
        color: #000000;
        background-color: #FFFFFF;
    }

    &__columns {
        display: flex;
        justify-content: space-between;

        &-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-center {
            display: flex;
            column-gap: 196px;
        }

        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__categories {
        display: flex;
        flex-direction: column;
        row-gap: 20px;

        &-link {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
        }
    }

    &__logo {
        &-subtitle {
            display: block;
        }
    }

    &__socials {
        &-subtitle {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
            display: block;
            max-width: 237px;
            margin-bottom: 14px;
        }

        &-list {
            display: flex;
            column-gap: 20px;
        }
    }


}